{% extends 'no_base.html' %}
{% load static %}
{% block title %}Login{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<style>
	.asteriskField {
		display: none;
	}
	br {
		display: block;
		content: "";
		margin-top: 10px;
	}
</style>
<div class="container">
	<div class="card w-50 mx-auto">
		<div class="card-header">
			<h4>Login</h4>
		</div>
		<div class="card-body">
			<form method="post">
				{% csrf_token %}
				{{ form|crispy }}
				<button class="btn btn-primary">Login</button>
			</form>
			<br />
			<a href="{% url 'password_reset' %}" class="card-link">Forgot password?</a>
		</div>
	</div>
</div>
{% endblock %}