{% extends 'no_base.html' %}
{% load static %}
{% block title %}Reset Password{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<style>
	.asteriskField {
		display: none;
	}
</style>
<div class="container">
	<div class="card w-50 mx-auto">
		<div class="card-header">
			<h4>Reset Password</h4>
		</div>
		<div class="card-body">
			<form method="post">
				{% csrf_token %}
				{{ form|crispy }}
				<button class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}